<h1>Edit Photo</h1>

<%= form_for @photo, :url =>{:action => "update", :id =>@photo} do |f| %>

<p>Project ID: <%= f.text_field 'project_id' %></p>
<p>Description<br/>

<%= f.text_area 'description' %></p>
<%= f.file_field 'file'%>
<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'show', :controller => 'project', :id => @photo.project_id} %>