<% if @photos.blank? %>
<p>There are not any photos currently in the system.</p>
<% else %>
<p>These are the current photos in our system</p>

<ul id = "photos">
   <% @photos.each do |c| %>
    <li>
    <%= link_to c.id, {:action => "show", :id => c.id} -%>
    <b> <%= link_to 'Edit', {:action => "edit",:id => c.id} %></b>
    <b> <%= link_to "Delete", {:action => 'delete', :id => c.id},
      :confirm => "Are you sure you want to delete this item?" %></b> <br>
    <% if c.file.attached? %>
      <%= image_tag(url_for(c.file), size: "200x100") %>
    <% end %>
    
 </li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Photo", {:action => 'new' }%></p>